<a href="https://colab.research.google.com/github/khanfawaz/PythonProgramming/blob/main/NCERT_CS_Class_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to show print statement in script mode.

In [1]:
print("hello fawaz")
print("save the earth")

hello fawaz
save the earth

Write a program to display values of variables

In [5]:
message = "keep smiling"
print(message)

rollNo = 72302106013
print(rollNo)

keep smiling
72302106013

Write a program to find the area of a rectablge given that its length is 10 units and breadth is 20 units

In [7]:
length = 10
breadth = 20

area = length * breadth # formula to calculate the are a of a rectanlge
print(area)

200

Wrie a program to find the sum of two numbers

In [12]:
# assign 2 numbers

num1 = 13
num2 = 33

print(num1 + num2)

46

Python treats everything as an object (numeric, string, boolean, float etc).
Every object in Python has a unique identitiy (ID) for the lifetime of that object. This ID is the memory of that object. The function id() returns the identity of the object.

In [14]:
print(id(num1))
print(id(num2))

134103825384048
134103825384688

Data Types:
1. Numbers
  - Integer
    - Boolean
  - Floating Point
  - Complex
2. Sequences
  - Strings
  - Lists
  - Tuples
3. Sets
4. None
5. Mappings
  - Dictionaries

Number Data Type:
Number data type stores numerical values only. It is further classified into int (-15, 0, 500), float (-2.04, 3.0, 12.34) & complex (3+4j, 2-2i).

Boolean is a subtype of integer. It consists of 2 constants True & False. True is non-zero, non-empty & non-null. False is zero.

In [16]:
var1 = True
print(type(var1))

num2 = 33
print(type(num2))

float1 = 3.14
print(type(float1))

complex1 = -3+4j
print(type(complex1))

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>

Variables of simple data types like integers, float, boolean, etc., hold single values. But such variables are not useful to hold a long list of information, for example, names of the months in a year, names of students in a class, names and numbers in a phone book. For this, Python provides data types like tuples, lists, dictionaries and sets.

Sequence Data Type:
A sequence is an ordered collection of items, where each item is indexed by an integer.

Strings:
String is a group of characters. These characters may be alphabets, digits or special characters including spaces. String values are enclosed either in single quotation marks (e.g., ‘Hello’) or in double quotation marks (e.g.,
“Hello”). The quotes are not a part of the string, they are used to mark the beginning and end of the string for the interpreter. We cannot perform numerical operations on strings, even when the string contains a numeric
value, as in str2.

str1 = "Hello Friend"
str2 = "123"

Lists:

List is a sequence of items separated by commas and the items are enclosed in square brackets [ ].

list1 = [5, 3.4, "New Delhi", "20C", 45]

Tuples:

Tuple is a sequence of items separated by commas and items are enclosed in parenthesis ( ). Once created, we cannot change the tuple.

tuple1 = (10, 20, "Apple", 3.4, 'a')

Set:

Set is an unordered collection of items separated by commas and the items are enclosed in curly brackets { }. A set is similar to list, except that it cannot have duplicate entries. Once created, elements of a set cannot be changed.

set1 = {10,20,3.14,"New Delhi"}

None:
None is a special data type with a single value. It is used to signify the absence of value in a situation. None supports no special operations, and it is neither same as False nor 0 (zero).

myVar = None

Mapping (Dictionary):

Mapping is an unordered data type in Python. There is only one standard mapping data type in Python called dictionary.

Dictionary in Python holds data items in key-value pairs. Items in a dictionary are enclosed in curly brackets { }. Dictionaries permit faster access to data. Every key is separated from its value using a colon (:) sign. The key: value pairs of a dictionary can be accessed using the key. The keys are usually strings and their values can be any data type. In order to access any value in the dictionary, we have to specify its key in square brackets [ ].

dict1 = {'Fruit':'Apple', 'Climate':'Cold', 'Price(kg)':120}


Mutable and Immutable Data Types:

Sometimes we may require to change or update the values of certain variables used in a program. However, for certain data types, Python does not allow us to change the values once a variable of that type has been created and assigned values. Variables whose values can be changed after they are created and assigned are called mutable. Variables whose values cannot be changed after they are created and assigned are called immutable. When an attempt is made to update the value of an immutable variable, the old variable is destroyed and a new variable is created by the same name in memory.

Mutable Data Types:

- Lists
- Sets
- Dictionary

Immutable Data Types:

- Integers
- Float
- Boolean
- Complex
- Strings
- Tuples

In [17]:
num1 = 100
print(id(num1))
num2 = num1
print(id(num2))

# In this manner Python makes the assignment effective by copying only the reference, and not the data.

134103825386832
134103825386832

Deciding Usage of Python Data Types:

- It is preferred to use lists when we need a simple iterable collection of data that may go for frequent modifications. For example, if we store the names of students of a class in a list, then it is easy to update the list when some
new students join or some leave the course.
- Tuples are used when we do not need any change in the data. For example, names of months in a year.
- When we need uniqueness of elements and to avoid duplicacy it is preferable to use sets, for example, list of artefacts in a museum.
- If our data is being constantly modified or we need a fast lookup based on a custom key or we need a logical association between the key : value pair, it is advised to use dictionaries. A mobile phone book is a good application of dictionary.

In [28]:
# Assign 10 to variable length and 20 to variable breadth.

varLen = 10; varBre = 20

print(varLen, varBre)
print(varLen)
print(varBre)

10 20
10
20

In [31]:
# Assign the average of values of variables length and breadth to a variable sum.

print(type(varLen), type(varBre))
varSum = (varLen + varBre)/2
print(varSum)
print(int(varSum))

<class 'int'> <class 'int'>
15.0
15